{
	"jsc": {
		"keepClassNames": true,
		"target": "es2022",

		"parser": {
			"syntax": "typescript",
			"decorators": true
		},

		"transform": {
			"decoratorMetadata": true,
			"legacyDecorator": true
		},

		"baseUrl": "src",
		"paths": {
			"~args/*": ["./args/*"],
			"~resolvers/*": ["./resolvers/*"],
			"~configs/*": ["./configs/*"],
			"~constants/*": ["./constants/*"],
			"~controllers/*": ["./controllers/*"],
			"~exceptions/*": ["./exceptions/*"],
			"~middlewares/*": ["./middlewares/*"],
			"~entities/*": ["./models/entities/*"],
			"~repositories/*": ["./repositories/*"],
			"~routes/*": ["./routes/*"],
			"~services/*": ["./services/*"],
			"~types/*": ["./types/*"],
			"~utils/*": ["./utils/*"],
			"~workers/*": ["./workers/*"]
		}
	},

	"module": {
		"type": "commonjs"
	}
}
